/* *{                                  Universal selector    
    background-color: lightblue;      whole code complies to it
}  (NOT RECOMMENDED!!!)*/
body{
    background-color: lightblue;
}
button{
    font-size: 15px;
    color: gray;
    background-color: pink;
}
h1,h2{
    color: darkblue;
}
#signup{                            /* ID Selector*/
    color: pink;
    background-color: rgb(21, 131, 131);
}
span{                                
    color:rgb(21, 131, 131);
}
.tag{                               /* Class selector*/ 
    color: lightblue;
    background-color: rgb(21, 131, 131);
}
.post a{                            /* Descendent selector*/
    color: rgb(21, 131, 131);
    font-weight: 700;
    text-decoration: none;
}
footer a{
    color: black;
    text-decoration: none;
}
h2+button{                          /* Combinator/ Adjacent selector*/
    background-color: rgb(91, 207, 178);
}
footer>a{                           /*Direct-Descendent selector*/
    color:crimson;
    text-decoration: none;
}
/* Attribute Selectors*/
input[type="password"]{             
    color:rgb(21, 131, 131);
}
input[type="username"]{
    color: darkblue;
}
a[href*=google]{
    color:magenta;
}
/* Pseudo classes*/
a:hover{
    text-decoration: underline;
}
a:active{
    color: orangered;
}
.post:nth-of-type(2n+1){
    background-color: rgb(137, 208, 231);
}
/* Pseudo elements*/
.post h2::first-letter{
    font-size: 35px;
}
p::first-line{
    color: blue;
}
p::selection{
    background-color: grey;
}
h2::selection{
    background-color: yellow;
}
/* CSS cascade ( THE ORDER MATTERS!!!! ) */
h1,h2{
    color: black;
}
h1,h2{
    color: purple;
}
/* SPECIFICITY ( VERY VERY IMPORTANT !!!) */
.post button:hover{
    background-color: pink;
}
button:hover{
    background-color: palegoldenrod;
}
/* INLINE STYLE >> ID >> CLASS >> ELEMENT - SPECIFICITY*/
/* INLINE STYLE IS NOT RECOMMENDED TO USE*/

/* !Important excetpion (Not recommended!!)
button{
    background-color: pink !important;
}*/

/* INHERITANCE!!
Some elements like button and input type do not inherit the color of the
parent class 
For these elements a special keyword inherit is used as:
button, input{
    color: inherit;
}*/